<div class="column is-one-third">
    <div class="card">
    
        <div class="card-image">
            <figure class="image is-256x256">
                <img src="https://www.santepubliquefrance.fr/var/site/storage/images/8/4/3/5/2755348-1-fre-FR/spf_dossier_covid_header.jpg" alt="Placeholder image">
                <div class="is-danger-image-hover">
            </figure>
        </div>
        <div class="card-content">
            <p class="title is-5 card-footer-border-top is-danger-text-hover has-text-centered"><%= post.title %></p>
            <!--<p class="subtitle is-7 has-text-weight-normal"><%= l post.date %></p>-->
            <div class="content">
                <p class="content has-text-centered "><%= truncate(strip_tags(post.description), length: 120) %></p>
            </div>
            
        </div>
        <footer class="card-footer">
            <a href="#" class="content card-footer-item is-danger has-text-centered">Lire la suite...</a>
        </footer>
    </div>
</div>