<div class="post">
  <p class="title is-2 has-text-centered">À la une</p>
  <div class="columns">
        <% Post.order(date: :desc).limit(4).each do |post| %>
          <%= render partial: 'partials/post_card', locals: { post: post } %>
        <% end %>
  </div>

  <section class="hero is-link is-small">
    <div class="hero-body">
      <div class="container has-text-centered">
      <form method="get" action="/pages/posts">
        <button type="submit" class="button is-primary is-centered">Plus d'actualités</button>
      </form>
        <!--<button class="button is-primary is-centered"><%#= link_to 'pages_posts_path', Toutes les actualités %></button>
        <a href="<%= 'pages_posts_path' %>">Plus d'actualités</a>-->
      </div>
    </div>
  </section>
</div>